.home-conteiner {   
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    padding: 0 2rem 5rem 2rem ;
    background-image: url('../../assets/img/bg.png');
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 375px;
}


.home-conteiner .text-conteiner {
    margin-top: 5rem;
}

.home-conteiner .text-conteiner h1 {
    font-size: 3rem;
    color: #FFFFFF;
}

.home-conteiner .text-conteiner h1 span {
    color: #EE4540;
}

.home-conteiner .text-conteiner p {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.home-conteiner .text-conteiner p span {
    color: #EE4540;
}

.home-conteiner .icons-conteiner {
    margin-top: 1.5rem;

}

.home-conteiner .icons-conteiner img{
    cursor: pointer;
    transition: transform 0.2s;
}

.home-conteiner .icons-conteiner img:hover{
    transform: scale(1.2);
}

.home-conteiner .down-conteiner {
    padding-top: 2rem;
    align-self: end;
    justify-self: center;
}

@keyframes blinky {
    50% { opacity: 0.0; }
}

@-webkit-keyframes blinky {
    50% {
        opacity: 0.0;
    }
}

.home-conteiner .down-conteiner img{
    animation: blinky 2s step-start 1s infinite;
    -webkit-animation: blinky 2s step-start 1s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-conteiner .down-conteiner p{
    margin-top: 0.5rem;
    animation: blinky 2s step-start 1s infinite;
    -webkit-animation: blinky 2s step-start 1s infinite;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    :root {
        font-size: 10px;
    }
    .text-conteiner p {
        text-align: center;
    }

    .text-conteiner .button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home-conteiner *{
        justify-self: center;
        align-self: center;
    }
  
}

@media (max-height: 511px) {
    /* For mobile phones: */
    :root {
        font-size: 10px;
    }

    .home-conteiner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        background-size: initial;
    }
  
}
  