.home {   
    width: 100%;
    height: 100vh;
    padding: 0 4rem 6.5rem 4rem ;
    background-image: url('../../assets/img/bg.png');
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 375px;
}


.home .text {
    margin-top: 5rem;
}

.home .text h1 {
    font-size: 3rem;
    color: #FFFFFF;
}

.home .text h1 span {
    color: #EE4540;
}

.home .text p {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.home .text p span {
    color: #EE4540;
}

.home .icons {
    margin-top: 1.5rem;

}

.home .icons img{
    cursor: pointer;
    transition: transform 0.2s;
}

.home .icons img:hover{
    transform: scale(1.2);
}

.home .down {
    padding-top: 2rem;
    align-self: end;
    justify-self: center;
}

@keyframes blinky {
    50% { opacity: 0.0; }
}

@-webkit-keyframes blinky {
    50% {
        opacity: 0.0;
    }
}

.home .down img{
    animation: blinky 2s step-start 1s infinite;
    -webkit-animation: blinky 2s step-start 1s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home .down p{
    margin-top: 0.5rem;
    animation: blinky 2s step-start 1s infinite;
    -webkit-animation: blinky 2s step-start 1s infinite;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    :root {
        font-size: 10px;
    }
    .text p {
        text-align: center;
    }

    .text .button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .home *{
        justify-self: center;
        align-self: center;
    }
  
}

@media (max-height: 511px) {
    /* For mobile phones: */
    :root {
        font-size: 10px;
    }

    .home {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        background-size: initial;
    }
  
}
  